<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title><%= author.name %></title>
  <link rel="stylesheet" type="text/css" href="/styles.css">
</head>
<body>
  <a href="/">Home</a>

  <h1>Name: <%= author.name %></h1>
  <h1> Age: <%= author.age %></h1>
    <p> Documents: </p>
    <ul>
        <% author.documents.each do |document| %>
        <p> Created: </p>
        <li>
            <a href="/documents/<%= document.id %>">
            <%= document.name %>
            </a>
        </li>
        <% end %>
    </ul>

</body>
</html>