<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title> <%=document.name %> </title>
<link rel="stylesheet" type="text/css" href="/styles.css">
</head>
<body>

  <a href="/">Home</a>

  <h1><%= document.name %></h1>
  <h1><%= document.content %></h1>
  <div>
    <a href="/documents/<%= document.id %>/edit">Edit</a>
  </div>

  <ul>
      <li><%= document.content %></li>
  </ul>
  <p>From Author
    <a href="/authors/<%=document.author.id %>">
      <%= document.author.name %>
    </a>
  </p>

  <h3>Search for an older version of a doc</h3>

    <form action="/documents/history/<%=document.id%>" method="GET">
      <input type="hidden" name="modified" value ="<%=document.id%>">
      <button class="search">Search for a docs history here</button>

</body>
</html>